/*PERBAIKAN */

.panel-success>.panel-heading{
	color: #fff !important;
    background-color: #a19665 !important;
    border:1px solid #ffac63 !important;
}
thead th{
	background:#a19665 !important;
	color:#fff;
	border:1px solid #fff !Important;
}
.btn-primary {
    color: #fff;
    background-color: #a19665 !important;
    border-color: #a19665 !important;
}
.table>tbody>tr.active>td, .table>tbody>tr.active>th, .table>tbody>tr>td.active, .table>tbody>tr>th.active, .table>tfoot>tr.active>td, .table>tfoot>tr.active>th, .table>tfoot>tr>td.active, .table>tfoot>tr>th.active, .table>thead>tr.active>td, .table>thead>tr.active>th, .table>thead>tr>td.active, .table>thead>tr>th.active{
    color: #fff;
    background-color: #a19665 !important;
    border-color: #a19665 !important;
    font-weight: bold;	
}
footer{
	margin-top:50px !important;
	background:#a19665 !important;
}
.footer{
	position:normal !important;
}
footer>.container>.text-muted{

	color:#fff !important;
}
.btn-success{
	background:#ff9538 !important;
	border-color:#ff9438
}
.panel-heading a:after{
	    font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: right;
    color: #E07416 !important;
    background-color: none !important;
    border-color: #d6e9c6;
}
.table-hover tbody tr:hover{
 background-color: #ffe8d3 !important;
 border:1px solid red !important;
}
.form-inline>.btn-success{
	background:#ff9538 !important;
	border-color:#ff9438
}
.modal-content>.btn-success{
	background:red !important;
}
.pagination li.active a, .pagination li.active a:hover {
 color: #FFF;
background-color: #a19665;
border-color: #a19665;
}
/**/

nput.currency {
    text-align: right;
    padding-right: 15px;
}

input.dollar {
    text-align: right;
    padding-right: 15px;
}

td.currency {
    text-align: right;
    padding-right: 15px;
}

td.dollar {
    text-align: right;
    padding-right: 15px;
}

th.currency {
    text-align: right;
    padding-right: 15px;
}

th.dollar {
    text-align: right;
    padding-right: 15px;
}

span.calendar { cursor: pointer; cursor: hand; }

span.list { cursor: pointer; cursor: hand; }


li active {
	background-color: #3c763d;
}

tbody tr:nth-child(even) {
  background-color: #EEEEEE;
}


.datepicker{z-index:1001 !important;}
.typeahead{z-index:1002 !important;}


.table>tbody>tr:hover>td, .table>tbody>tr:hover>th {
background-color: #dff0d8;
border-color: #dff0d8;
  cursor: pointer; cursor: hand;
}
/*
.pagination li.active a, .pagination li.active a:hover {
 color: #FFF;
background-color: #3c763d;
border-color: #3c763d;
}
*/
a.list-group-item:hover{
	color: #FFF;
background-color: #337AB7;
border-color: #2E6DA4;
  cursor: pointer; cursor: hand;
}

.panel-heading h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    width: 75%;
    padding-top: 8px;
}


.image-bg-fluid-height,
.image-bg-fixed-height {
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.white-text{
	color:#fff !important;
}
@media (min-width:576px) {
.text-center-sm{
	text-align:center;
}
}
@media (min-width: 768px) {
.text-md-left{
	text-align:left;
}
 }
 .clear1{
 padding-top:10px;
 }
 .clear2{
 padding-top:15px;
 }
 p>.lh{
 font-weight:300 !important;
 }
 .lh{
 line-height:1.6;
 font-size:120%;
 }
 .blok-white{
 height:1px;
 background: white !important;
 width:100%;
 
 }
 h3{
    font-weight: 300 !important;
}
.m__{
	margin-top:-8px;
}
.m_{
	margin-top:10px;
}
.h3, h3 {
    font-size: 2.55rem;
}
thead th{
	background:#a19665 !important;
	border:1px solid #fff !Important;
}
.image-bg-fluid-height {
	/* background: url('../img/500.jpg') no-repeat center center scroll; */

	background: url('images/ALHP.jpg')no-repeat center; background-size: cover;
    padding:25px 0px 25px;
    margin-top:50px
}

.image-bg-fixed-height {
	background: url('../img/500.jpg') no-repeat center center scroll;
    height: 450px;
}

.img-center {
	margin: 0 auto;
}
.border-label-text {
	border:1px solid #eee;
}
.btn-def-lha {
  	color: #FFF;
	background-color: #3c763d;
	border-color: #337AB7;
}
.btn-def-lha:hover {
	background-color: #dff0d8;
	border-color: #dff0d8;
}
.form-control-lha-sm {
	width:105px;
	border:1px solid #ccc;
	background-color:#fff;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	border-radius:3px;
	font-size:12px;
	padding: 5px 10px;
}
.form-control-lha-md {
	width:120px;
	border:1px solid #ccc;
	background-color:#fff;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	border-radius:3px;
	font-size:12px;
	padding: 5px 10px;
}
.canvasTes{
        width: 100% !important;
        max-width: 800px;
        height: auto !important;
}