<p>Berikut ini adalah informasi mengenai tiket pertanyaan yang di ajukan</p>

<table style="width: 100%; margin-right: calc(36%);">
  <tbody>
    <tr>
      <td style="width: 16.1552%; vertical-align: top; text-align: left;">
        Nomor Ticket<br>
      </td>
      <td style="width: 2.7076%; vertical-align: top; text-align: left;">:<br></td>
      <td style="width: 81.1372%; vertical-align: top; text-align: left;">
        ${noTicket}<br>
      </td>
    </tr>
    <tr>
      <td style="width: 16.1552%; vertical-align: top; text-align: left;">
        NIP<br>
      </td>
      <td style="width: 2.7076%; vertical-align: top; text-align: left;">:<br></td>
      <td style="width: 81.1372%; vertical-align: top; text-align: left;">
        ${nip}<br>
      </td>
    </tr>
    <tr>
      <td style="width: 16.1552%; vertical-align: top; text-align: left;">
        Nama<br>
      </td>
      <td style="width: 2.7076%; vertical-align: top; text-align: left;">:<br></td>
      <td style="width: 81.1372%; vertical-align: top; text-align: left;">
        ${nama}<br>
      </td>
    </tr>
    <tr>
      <td style="width: 16.1552%; vertical-align: top; text-align: left;">
        Tanggal & Waktu<br>
      </td>
      <td style="width: 2.7076%; vertical-align: top; text-align: left;">:<br></td>
      <td style="width: 81.1372%; vertical-align: top; text-align: left;">
        ${datetime}<br>
      </td>
    </tr>
    
  </tbody>
</table>

<p>
  <br>
</p>

<p><strong>Catatan</strong>:</p>

<p>Email ini dikirim oleh sistem secara otomatis dan tidak untuk dibalas, terimakasih.</p>
