<p><strong>Pemberitahuan</strong></p>

<p>Berdasarkan data yang kami terima sampai dengan <strong>jam ${datetime}</strong>, Saudara belum melakukan pengisian data pelaporan kinerja atau kesehatan pada tanggal <strong>${tanggalLaporan}</strong>.<br>
Mohon untuk segera mengisi data dimaksud.</p>

<p><strong>TTD</strong><br><strong>Inspektur Jenderal KLHK</strong></p>
<p>
  <br>
</p>
<hr/>
<p><strong>Catatan</strong>:</p>

<p>Email ini dikirim oleh sistem secara otomatis dan tidak untuk dibalas, terimakasih.</p>
