
<p><strong>Keterangan Informasi Laporan:</strong></p>

<table style="width: 100%; margin-right: calc(36%);">
  <tbody>
    <tr>
      <td style="width: 16.1552%; vertical-align: top; text-align: left;">
        Nama Laporan<br>
      </td>
      <td style="width: 2.7076%; vertical-align: top; text-align: left;">:<br></td>
      <td style="width: 81.1372%; vertical-align: top; text-align: left;">
        ${filename}<br>
      </td>
    </tr>
    <tr>
      <td style="width: 16.1552%; vertical-align: top; text-align: left;">
        Password<br>
      </td>
      <td style="width: 2.7076%; vertical-align: top; text-align: left;">:<br></td>
      <td style="width: 81.1372%; vertical-align: top; text-align: left;">
        ${password}<br>
      </td>
    </tr>
    <tr>
      <td style="width: 16.1552%; vertical-align: top; text-align: left;">
        Tanggal & Waktu<br>
      </td>
      <td style="width: 2.7076%; vertical-align: top; text-align: left;">:<br></td>
      <td style="width: 81.1372%; vertical-align: top; text-align: left;">
        ${datetime}<br>
      </td>
    </tr>
    
  </tbody>
</table>

<p>
  <br>
</p>

<p><strong>Catatan</strong>:</p>

<p>Email ini dikirim oleh sistem secara otomatis dan tidak untuk dibalas, terimakasih.</p>
